#topH{
    text-align: center;
    white-space: nowrap;
}

#note{
    font-style: italic;
    font-size: small;
}

.listStart{
    
    font-style: oblique;
    font-weight:bold;
    font-family: fantasy;
}

#mainBody{
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

#section-List1{
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    width: 400px;
    border: 4px double crimson;
    border-radius: 20px;
}

#section-List2{
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    width: 400px;
    border: 4px double crimson;
    border-radius: 20px;
}

#mainImage{
    margin: auto;
    width: 15%;
    display: flex;
    border: solid 2pc;
    border-style:hidden;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}
header{
    background: linear-gradient(to right, #00ff77 0%, #0072ff 100%);
    border: 2px solid salmon;
}