#topH{
    text-align: center;
    white-space: nowrap;
}

#note{
    font-style: italic;
    font-size: small;
}

.listStart{
    
    font-style: oblique;
    font-weight:bold;
    font-family: fantasy;
}

#mainBody{
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

#section-List1{
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    width: 400px;
    border: 4px double crimson;
    border-radius: 20px;
}

#section-List2{
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    width: 400px;
    border: 4px double crimson;
    border-radius: 20px;
}
